---
import { Card } from "@/components/ui/card";
---

<section class="flex w-full flex-col">
  <!-- Filters, Sorts, Search, Views, Groups. -->
  <div class="flex flex-row items-center justify-between">
    <!-- Search & Filters -->

    <!-- Sorts, Views & Groups -->
  </div>

  <!-- Tables Container - Card -->
  <Card className="w-full" />

  <!--  -->
</section>
