---
import {
  Header,
  HeaderDescription,
  HeaderTitle,
} from "@/domains/dashboard/components/header";
import { CreateTeamDialog } from "@/domains/teams/modules/create-team";
---

<section class="flex min-h-25 flex-row items-center justify-between">
  <Header>
    <HeaderTitle>Teams Management</HeaderTitle>
    <HeaderDescription>
      Manage your teams and members in your organization
    </HeaderDescription>
  </Header>

  <CreateTeamDialog client:load />
</section>
