---
import { $queryClient } from "@/core/lib/query-client";
import { loadFullOrganization } from "@/core/services/orgs/loaders";
import { TeamsTable } from "@/domains/teams/modules/teams-table";
import { dehydrate } from "@tanstack/react-query";
import { TeamsDeleteAlertDialog } from "../composites/teams-delete-alert";

const { session } = Astro.locals;

const queryclient = $queryClient.get();

loadFullOrganization(queryclient, {
  headers: Astro.request.headers,
  query: { organizationId: session?.session?.activeOrganizationId ?? "" },
});

const hydratedState = dehydrate(queryclient);
---

<section class="bg-secondary flex flex-col gap-1 rounded-md border p-1">
  <TeamsTable
    state={hydratedState}
    organizationId={session?.session.activeOrganizationId ?? ""}
    client:load
  />

  <TeamsDeleteAlertDialog client:load />
</section>
