---
import { TeamsControl } from "@/domains/teams/modules/teams-control";
import { TeamsNavs } from "@/domains/teams/modules/teams-navs";
---

<section class="flex w-full flex-row items-center justify-between gap-4">
  <!-- Filters, -->
  <TeamsNavs client:load className="z-10" />
  <!--  Sorts, Search, Views, Groups. -->
  <TeamsControl client:load />
</section>
