---
import { ParticlesLayout } from "@/components/layouts/particles-layout";
import RootLayout from "@/components/layouts/root-layout.astro";
import { cn } from "@/lib/cn";
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"main"> {}

const { class: className, ...props } = Astro.props;
---

<RootLayout>
  <ParticlesLayout client:load>
    <main
      class={cn(
        "relative flex size-full flex-col items-center justify-center overflow-hidden rounded-sm border bg-background",
        className,
      )}
      {...props}
    >
      <slot />
    </main>
  </ParticlesLayout>
</RootLayout>
