---
import { ThemesToggle } from "@/components/core/themes-toggle";
import { ParticlesLayout } from "@/components/layouts/particles-layout";
import RootLayout from "@/components/layouts/root-layout.astro";
import { Separator } from "@/components/ui/separator";
import { TobarSearch } from "@/domains/dashboard/composites/topbar";
import { NavBar } from "@/domains/dashboard/modules/navbar";
import { Notification } from "@/domains/dashboard/modules/notification";
import { ProfileDropdown } from "@/domains/dashboard/modules/profile";

const session = Astro.locals.session!;
const pathname = Astro.originPathname;
---

<RootLayout>
  <ParticlesLayout client:load>
    <main class="z-10 flex size-full flex-col items-center">
      <NavBar pathname={pathname} className="container justify-center">
        <Separator className="w-full shrink bg-transparent" />
        <div class="flex flex-row items-center justify-end gap-2">
          <TobarSearch
            client:load
            className="rounded-full text-muted-foreground"
          />

          <Notification
            className="rounded-full text-muted-foreground"
            client:load
          />

          <Separator
            orientation="vertical"
            className="mx-2 data-[orientation=vertical]:h-4"
          />

          <ThemesToggle
            variant="ghost"
            className="rounded-full text-muted-foreground"
            client:load
          />

          <ProfileDropdown
            session={session?.session}
            user={session?.user}
            client:load
          />
        </div>
      </NavBar>

      <section class="container flex w-full flex-col">
        <slot />
      </section>
    </main>
  </ParticlesLayout>
</RootLayout>
