---
import RootLayout from "@/components/layouts/root-layout.astro";
import { Sidebar } from "@/domains/dashboard/modules/sidebar";

const pathname = Astro.originPathname;
---

<RootLayout>
  <main class="size-full flex flex-row bg-accent">
    <!-- sidebar -->
    <Sidebar pathname={pathname} client:load />

    <section class="w-full flex flex-col">
      <slot />
    </section>
  </main>
</RootLayout>
